{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block start %}
<section class="d-flex align-items-center justify-content-center" style="margin-top: 10px; min-height: 84vh;">
    <div class="container">
        <div class="row justify-content-center" style="
    margin-top: 100px;">
            <div class="col-md-6">
                <div class="card shadow-lg p-4 rounded">
                    <h3 class="text-center mb-4"> Confirm Delete Account of <br> {{ users.first_name }} {{ users.last_name }}</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn w-100" style="background-color: #dfd3c3; color: #4a4339;">
                                Delete
                            </button>
                            <a href="{% url 'user_management' %}" class="btn mt-2 w-100"
                               style="background-color: #dfd3c3; color: #4a4339;">
                                < Cancel Delete >
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
