{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block start %}
<section class="d-flex align-items-center justify-content-center" style="margin-top: 30px; min-height: 84vh;">
    <div class="container">
        <div class="row justify-content-center" style="
    margin-top: 100px;">
            <div class="col-md-6">
                <div class="card shadow-lg p-4 rounded">
                    <h3 class="text-center mb-4">Update Inventory Details</h3>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="text-center mt-4">
                            <button type="submit" class="btn w-100" style="background-color: #dfd3c3; color: #4a4339;">
                                Update
                            </button>
                            <a href="{% url 'inventory-management' %}" class="btn mt-2 w-100" style="background-color: #dfd3c3; color: #4a4339;">
                                < Back To Main >
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
